@media (min-aspect-ratio: 16/9){
  video{
    width:100%;
  }
}

@media (max-aspect-ratio: 16/9){
  video{
    height:100%;
  }
}


.filtre{
  background-color:rgba(0,0,0,0.5);
}

.card-img-overlay{
  overflow: auto;
  padding-bottom:0;
}

.bg-none{
  background: none;
}

.border-none{
  border: none;
}

.squared-title{
  border: 2px solid white;
  padding: 0.3em;
}

.dropdown-item:hover{
  background-color: rgba(0,0,0,0.5);
  color: white !important;
}

.text-my{
  color: white !important;
}

main{
  overflow-y: scroll !important;
  height: 100%;
}

.vh-80{
  height: 80vh;
}

.first-cat-row{
  margin-top:30vh !important;
}

.cat-row{
  margin-top:50vh !important;
}

.my-row{
  margin-top:20vh !important;
  font-size:1.2rem !important;
}

.end-row{
  margin-bottom: 20vh !important;
}

.text-my{
  color: white !important;
}